# APPLICATION TYPE
spring.main.web-application-type=servlet

# APPLICATION NAME
spring.application.name=okanefy

# DATABASE URL
spring.datasource.url=jdbc:mysql://db:3306/okanefy?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true

# DATABASE CREDENTIALS (example values for local development)
spring.datasource.username=user
spring.datasource.password=password

# JDBC DRIVER
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JWT SECRET TOKEN (example value, change in production)
api.security.token.secret=secret

# JWT EXPIRATION TIME IN HOURS
api.security.token.duration=24

# SERVER PORT
server.port=8080

## For testing purposes, create an account on Mailtrap. Mailtrap allows you to test email functionality without using a real email account (https://mailtrap.io/).

# SMTP HOST
spring.mail.host=

# SMTP HOST PORT
spring.mail.port=

# SMTP CREDENTIALS
spring.mail.username=
spring.mail.password=

# SMTP AUTH OPTIONS
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# SMTP EMAIL
smtp.mail=

# CORS ALLOW ORIGIN
api.security.cors.url=http://localhost:5173